*{
    padding: 0;
    margin: 0;
}
.page3{
 background: url("../assests/assests/space.jpg");
 background-position: center;
 background-repeat: norepeat;
 background-size: cover;
    width: 100vw;
    height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: "Leelawadee UI";
font-size: 5vh;
font-weight: 400;
color:white;
}
